@font-face {
  font-family: "VCR_OSD";
  src: url("../assets/fonts/VCR\ OSD\ Mono.woff");
}

@font-face {
  font-family: 'w95fa';
  src: url('../assets/fonts/w95fa.woff2');
}

/* GLOBAL STYLING */

* {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

body {
  /* background-color: #; */
  color: #000;
  font-family: "Times New Roman", Times, serif;
  box-sizing: border-box;
  cursor: url(../assets/Mouse-cursor.png), default;
}

a, button {
  text-decoration: none;
  cursor: url(../assets/Mouse-pointer.png), default;
}

/* HOME */

#home {
  background: linear-gradient(to bottom, #010310 0, #0c1142 20%, #45125e 45%, #d53567 57%);
  background-size: 100% var(--background-height, 100vh);
  position: relative;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#home h1 {
  color: #fff;
  font-size: .9rem;
  text-align: center;
  margin: 1em auto;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  animation: intro-animation 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  pointer-events: none;
  z-index: 1;
}

@keyframes intro-animation {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

#home .logo {
  margin-top: 3em;
  min-width: 280px;
  max-width: 70%;
  max-height: 70%;
}

.overlay {
  width: 100%;
  height: 100%;
  z-index: 999;
  position: absolute;
  left: 0;
  top: 0;
  background-image: repeating-linear-gradient(rgba(0, 0, 0, 0.3) 0, transparent 1px, transparent 2px, rgba(0, 0, 0, 0.3) 3px);
  pointer-events: none;
}

/*stars*/
#home .stars:after {
  transform: translateY(-40%);
  content: ' ';
  border-radius: 100%;
  width: 3px;
  height: 4px;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow:
    5vw 20vh 2px white,
    1vw 33vh 0px white,
    2vw 25vh 2px white,
    10vw 10vh 2px white,
    12vw 20vh 0px white,
    30vw 15vh 2px white,
    16vw 5vh 2px white,
    24vw 10vh 0px white,
    32vw 40vh 0px white,
    33vw 35vh 2px white,
    12vw 38vh 2px white,
    24vw 10vh 0px white,
    33vw 5vh 2px white,
    20vw 10vh 0px white,
    80vw 10vh 2px white,
    62vw 20vh 0px white,
    60vw 15vh 2px white,
    70vw 7vh 0px white,
    62vw 50vh 0px white,
    65vw 35vh 2px white,
    64vw 10vh 0px white,
    85vw 2vh 0px white,
    92vw 40vh 0px white,
    75vw 35vh 2px white,
    90vw 10vh 0px white;
  opacity: 0.3;
  animation: glitter 2s infinite;
}

@keyframes glitter {
  0% {
    opacity: 0.3;
  }

  50% {
    opacity: 0.9;
  }

  100% {
    opacity: 0.3;
  }
}

#home .grid-container {
  background: linear-gradient(to bottom, #dbdce9 0%, #545a94 3%, #313875 5%, #0c1142 10%);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40vh;
  overflow: hidden;
}

#home .grid {
  position: absolute;
  bottom: 0;
  height: 151%;
  width: 100%;
  /* left: 50%; */
  background-size: cover;
  background-position: center;
  background-image:
    repeating-linear-gradient(90deg, var(--grid-color, black) 0%, transparent calc(1px + var(--grid-blur, 0px)), transparent var(--grid-size), var(--grid-color, black) calc(var(--grid-size) + 1px + var(--grid-blur, 0px))), repeating-linear-gradient(180deg, var(--grid-color, black) 0%, transparent calc(1px + var(--grid-blur, 0px)), transparent var(--grid-size), var(--grid-color, black) calc(var(--grid-size) + 1px + var(--grid-blur, 0px)));
  transform: perspective(50vh) rotateX(60deg) translateZ(10px) scaleX(1.5);
  animation: moving-grid .25s infinite linear;
}

@keyframes moving-grid {
  0% {
    transform: perspective(50vh) rotateX(60deg) translateZ(10px) scaleX(1.5);
  }

  100% {
    transform: perspective(50vh) rotateX(60deg) translateZ(10px) translateY(var(--grid-size)) scaleX(1.5);
  }
}

#home .navBtn {
  background: transparent;
  border: none;

  color: #fff;
  font-size: 1.5em;
  text-transform: uppercase;

  margin-top: 100px;
  z-index: 1;
}

#home .navBtn a {
  color: yellow !important;
  font-family: "VCR_OSD", sans-serif;
}

#home .navBtn a {
  color: #fff;
  transition: 0.3s ease;
}

#home .navBtn a:hover {
  color: #af8aa0;
  transform: scale(1.1);
}

/* ABOUT US */

#about {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2em;
}

#about h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 0.625em;
}

#about p {
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.6em;
}

#about .windows-logo-container {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}

#about .windows-logo-left {
  max-width: 75px;
}

#about .windows-logo-right {
  max-width: 75px;

  display: none;
}

/* Windows animation */

.windows-logo-left {
  animation: windowsAnimationLeft 5s infinite;
}

.windows-logo-right {
  animation: windowsAnimationRight 5s infinite;
}

@keyframes windowsAnimationLeft {
  0% {
    transform: translate(-100%);
  }

  50% {
    transform: translate(0);
  }

  100% {
    transform: translate(-100%);
  }
}

@keyframes windowsAnimationRight {
  0% {
    transform: translate(100%);
  }

  50% {
    transform: translate(0);
  }

  100% {
    transform: translate(100%);
  }
}

/* SQUAD */

#squad {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#squad .squad-container {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 300px;
  grid-gap: 40px;
  justify-items: center;

  margin-bottom: 2em;
}

#squad h2 {
  text-align: center;
  font-size: 1.7rem;
  margin-bottom: 2em;
  margin-top: 1em;
}

/* WINDOW */
#window {
  height: 300px;
  width: 300px;
  border: 1px solid black;
  background-color: #c0c0c0;
  padding: 0.25em;
  box-shadow: 0.1875em 0.1875em 0.3125em 0.0625em rgba(0, 0, 0, 0.75);
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#window-bar {
  font-family: 'w95fa';
  background-color: #008;
  margin-bottom: 0.25em;
  white-space: nowrap;
  overflow: hidden;
}

#window-title {
  color: #fff;
  float: left;
  padding: 5px;
}

.window-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: .5em;
}

#exit {
  background-color: #c0c0c0;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  border-left: 1px solid #fff;
  border-top: 1px solid #fff;
  padding: 1px 2px;
  margin: 0.1em;
  float: right;
  font-size: 1em;
}

#min {
  background-color: #c0c0c0;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  border-left: 1px solid #fff;
  border-top: 1px solid #fff;
  padding: 1px 2px;
  margin: 0.1em;
  justify-content: right;
  float: right;
  font-size: 1em;
}

#max {
  background-color: #c0c0c0;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  border-left: 1px solid #fff;
  border-top: 1px solid #fff;
  padding: 1px 2px;
  margin: 0.1em;
  float: right;
  font-size: 1em;
}

#window-content {
  background-color: transparent;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.glitch:hover::before {
  content: '';
  position: absolute;
  width: 98%;
  height: 60%;
  left: 2px;
  right: 2px;
  background-color: rgba(0, 0, 128, 0.678);
  background-image: repeating-linear-gradient(rgba(0, 0, 0, 0.3) 0, transparent 1px, transparent 2px, rgba(0, 0, 0, 0.3) 3px);
  clip: rect(44px, 450px, 56px, 0);
  animation: glitch-anim 2.5s infinite linear alternate-reverse;
}

.glitch:hover::after {
  content: '';
  position: absolute;
  width: 98%;
  height: 60%;
  left: 2px;
  right: 2px;
  background-image: repeating-linear-gradient(rgba(0, 0, 0, 0.3) 0, transparent 1px, transparent 2px, rgba(0, 0, 0, 0.3) 3px);
}

/* animation*/
@keyframes glitch-anim {
  0% {
    clip: rect(23px, 9999px, 51px, 0);
    transform: skew(0.04deg);
  }

  5% {
    clip: rect(76px, 9999px, 59px, 0);
    transform: skew(0.06deg);
  }

  10% {
    clip: rect(42px, 9999px, 54px, 0);
    transform: skew(0.34deg);
  }

  15% {
    clip: rect(70px, 9999px, 84px, 0);
    transform: skew(0.91deg);
  }

  20% {
    clip: rect(22px, 9999px, 56px, 0);
    transform: skew(0.34deg);
  }

  25% {
    clip: rect(2px, 9999px, 76px, 0);
    transform: skew(0.05deg);
  }

  30% {
    clip: rect(97px, 9999px, 20px, 0);
    transform: skew(0.47deg);
  }

  35% {
    clip: rect(12px, 9999px, 64px, 0);
    transform: skew(0.41deg);
  }

  40% {
    clip: rect(38px, 9999px, 18px, 0);
    transform: skew(0.01deg);
  }

  45% {
    clip: rect(5px, 9999px, 43px, 0);
    transform: skew(0.04deg);
  }

  50% {
    clip: rect(97px, 9999px, 69px, 0);
    transform: skew(0.77deg);
  }

  55% {
    clip: rect(74px, 9999px, 17px, 0);
    transform: skew(0.83deg);
  }

  60% {
    clip: rect(8px, 9999px, 85px, 0);
    transform: skew(0.54deg);
  }

  65% {
    clip: rect(80px, 9999px, 22px, 0);
    transform: skew(0.94deg);
  }

  70% {
    clip: rect(11px, 9999px, 9px, 0);
    transform: skew(0.56deg);
  }

  75% {
    clip: rect(78px, 9999px, 98px, 0);
    transform: skew(0.55deg);
  }

  80% {
    clip: rect(61px, 9999px, 19px, 0);
    transform: skew(0.92deg);
  }

  85% {
    clip: rect(43px, 9999px, 81px, 0);
    transform: skew(0.3deg);
  }

  90% {
    clip: rect(81px, 9999px, 4px, 0);
    transform: skew(0.53deg);
  }

  95% {
    clip: rect(62px, 9999px, 38px, 0);
    transform: skew(0.2deg);
  }

  100% {
    clip: rect(96px, 9999px, 32px, 0);
    transform: skew(0.05deg);
  }
}

@keyframes glitch-anim2 {
  0% {
    clip: rect(5px, 9999px, 88px, 0);
    transform: skew(0.6deg);
  }

  5% {
    clip: rect(19px, 9999px, 64px, 0);
    transform: skew(0.99deg);
  }

  10% {
    clip: rect(7px, 9999px, 43px, 0);
    transform: skew(0.91deg);
  }

  15% {
    clip: rect(27px, 9999px, 30px, 0);
    transform: skew(0.9deg);
  }

  20% {
    clip: rect(64px, 9999px, 26px, 0);
    transform: skew(0.81deg);
  }

  25% {
    clip: rect(51px, 9999px, 60px, 0);
    transform: skew(0.99deg);
  }

  30% {
    clip: rect(6px, 9999px, 16px, 0);
    transform: skew(0.78deg);
  }

  35% {
    clip: rect(34px, 9999px, 16px, 0);
    transform: skew(0.66deg);
  }

  40% {
    clip: rect(1px, 9999px, 95px, 0);
    transform: skew(0.06deg);
  }

  45% {
    clip: rect(82px, 9999px, 31px, 0);
    transform: skew(0.39deg);
  }

  50% {
    clip: rect(3px, 9999px, 46px, 0);
    transform: skew(0.29deg);
  }

  55% {
    clip: rect(47px, 9999px, 36px, 0);
    transform: skew(0.56deg);
  }

  60% {
    clip: rect(83px, 9999px, 27px, 0);
    transform: skew(0.87deg);
  }

  65% {
    clip: rect(17px, 9999px, 91px, 0);
    transform: skew(0.97deg);
  }

  70% {
    clip: rect(23px, 9999px, 5px, 0);
    transform: skew(0.31deg);
  }

  75% {
    clip: rect(9px, 9999px, 5px, 0);
    transform: skew(0.64deg);
  }

  80% {
    clip: rect(100px, 9999px, 90px, 0);
    transform: skew(0.95deg);
  }

  85% {
    clip: rect(91px, 9999px, 100px, 0);
    transform: skew(0.72deg);
  }

  90% {
    clip: rect(21px, 9999px, 10px, 0);
    transform: skew(0.99deg);
  }

  95% {
    clip: rect(63px, 9999px, 84px, 0);
    transform: skew(0.2deg);
  }

  100% {
    clip: rect(58px, 9999px, 77px, 0);
    transform: skew(0.7deg);
  }
}


#window-content img {
  max-width: 100%;
  max-height: 100%;
  z-index: -2;
}

.glitch > img {
  display: block;
  margin: 0 auto;
}

#window a {
  background: transparent;
  border: none;
  background-color: #c0c0c0;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  border-left: 1px solid #fff;
  border-top: 1px solid #fff;
  text-transform: uppercase;
  padding: 15px;

  z-index: 1;

  text-decoration: none;
}

#window a {

  background: #C0C0C0;
  color: #000;
  font-family: "VCR_OSD", sans-serif;
}

/* FOOTER */

footer {
  position: relative;
  background-color: #282828;

  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer ul {
  list-style: none;
  margin: 2rem;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

footer ul li a {
  color: #fff;
  font-size: 1.7rem;
  margin: 0.3rem;

  transition: 0.3s ease;
}

footer ul li a:hover {
  color: #af8aa0;
  transform: scale(1.1);
}

footer .navBtn {
  position: absolute;
  right: 30px;
  bottom: 30px;
  background: transparent;
  border: none;

  color: #fff;
  font-size: 1em;
  font-family: "VCR_OSD", sans-serif;
}

footer .navBtn a {
  color: yellow !important;
  transition: 0.3s ease;
  text-transform: uppercase;
}

footer .navBtn a:hover {
  color: #af8aa0;
}

/* MEDIA QUERIES */

@media (min-width: 32em) {
  #home h1 {
    margin: 1em auto;
  }

  #home .logo {
    max-width: 30%;
  }
}

@media (min-width: 35em) {

  #squad h2 {
    font-size: 2rem;
  }
}

@media (min-width: 41em) {

  #home h1 {
    font-size: 1.9rem;
  }

  #squad .squad-container {
    grid-template-columns: 300px 300px;
  }

  #about .windows-logo-left {
    max-width: 125px;
  }

  #about .windows-logo-right {
    max-width: 125px;
    display: block;
  }
}

@media (min-width: 70em) {
  #squad .squad-container {
    grid-template-columns: 300px 300px 300px;
  }
}

@media (min-width: 90em) {

  #home h1 {
    font-size: 2rem;
  }

  #squad .squad-container {
    grid-template-columns: 300px 300px 300px 300px;
  }
}