/* GLOBAL STYLING */

* {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

body {
  /* background-color: #; */
  color: #000;
  font-family: "Times New Roman", Times, serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* HOME */

#home {
  background-color: #13073d;
  position: relative;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#home h1 {
  color: #fff;
  font-size: 1.3rem;
  text-align: center;
  margin: 1em auto;
}

#home img {
  margin-top: 3em;
  min-width: 280px;
  max-width: 70%;
  max-height: 70%;
}

#home .grid {
  position: absolute;
  background-image: url("../assets/vaporwave-grid.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  bottom: 0;
  width: 100%;
  height: 200px;
}

#home .navBtn {
  position: absolute;
  right: 30px;
  bottom: 30px;
  background: transparent;
  border: none;

  color: #fff;
  font-size: 1em;
  font-family: "Times New Roman", Times, serif;
}

#home .navBtn a {
  color: #fff;
  transition: 0.3s ease;
}

#home .navBtn a:hover {
  color: #af8aa0;
}

/* ABOUT US */
#about {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2em;
}

#about h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 0.625em;
}

#about p {
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.6em;
}

/* FOOTER */

footer {
  position: relative;
  background-color: #282828;

  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer ul {
  list-style: none;
  margin: 2rem;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

footer ul li a {
  color: #fff;
  font-size: 1.7rem;
  margin: 0.3rem;

  transition: 0.3s ease;
}

footer ul li a:hover {
  color: #af8aa0;
  transform: scale(1.1);
}

footer .navBtn {
  position: absolute;
  right: 30px;
  bottom: 30px;
  background: transparent;
  border: none;

  color: #fff;
  font-size: 1em;
  font-family: "Times New Roman", Times, serif;
}

footer .navBtn a {
  color: #fff;
  transition: 0.3s ease;
}

footer .navBtn a:hover {
  color: #af8aa0;
}

/* MEDIA QUERIES */

@media (min-width: 32em) {
  #home h1 {
    margin: 1em auto;
  }

  #home img {
    max-width: 30%;
  }

  #home .grid {
    background-position: top;
  }
}

@media (min-width: 35em) {
  #home h1 {
    font-size: 2.4rem;
  }

  #home .navBtn {
    right: 50px;
    bottom: 50px;
  }
}
